*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#modal{
    height: 40vh;
    width: 40vw;
    border-radius: 25px;
    box-shadow: 2px 3px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    background-color: aliceblue;
    display: none;
}
#btnShow{
    width: 150px;
}
button{
    padding:20px;
    background-color: black;
    color: white;
}